---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submit button design">
  <main class="h-screen flex items-center justify-center">
    <button
      class="text-orange-200 text-6xl hover:bg-[url('backborder.svg')] transition duration-300
	             ease-in-out shadow-lg hover:bg-transparent bg-amber-700 rounded-lg p-6"
      >Submit</button
    >
  </main>
</Layout>

<style></style>
